.sharkBtn {
  position: relative;
  margin: 0;
  padding: 2px 4px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: hsl(49deg 98% 60%);
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  border: solid 2px black !important;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.sharkBtn span {
  color: #222;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.sharkBtn:hover {
  animation: rotate624 0.7s ease-in-out both;
}

.sharkBtn:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.sharkBtn {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.sharkBtn span {
  z-index: 20;
}

.sharkBtn:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.sharkBtn:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.sharkBtn {
  margin: 0 5px;
}
.shark_btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.shark_btn-img {
  width: 20px;
  margin-right: 5px;
}
