<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warape.aimechanician.mapper.UserInfoMapper">

  <select id="trend" resultType="com.warape.aimechanician.domain.vo.TrendVO">
    select DATE_FORMAT(create_time, '%Y-%m-%d') date, count(1) count
    from user_info
    where create_time <![CDATA[>=]]> #{start}
      and create_time <![CDATA[<=]]> #{end}
    group by date
  </select>
</mapper>
